body    {
    background-image: url("food-image.jpeg");
    height: 100%; 
    background-position: -300px 180px;
    background-repeat: no-repeat;
    background-size: stretch;
}

body, html {
    height: 100%;
  }

#jumbotron  {
    height: 183px;
    border: 2px solid white;
    background-color: rgb(187, 149, 103);
    padding-top: 30px;
    width: 1600px;
    margin-right: 0;
}

.jumbotron {
    text-align: center;
}

#map-container {
    height: 200px;
    width: 300px;
    overflow: scroll;
    border: solid black 3px;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 50px;

}

#map {
    background-color: lightblue;
    width: 300px;
    height: 300px;
    padding-right: 30px;
    margin-left: 0px;
}


#table {
    
    float: right;
    margin-right: 500px;
    margin-top: 90px;
    padding-bottom: 0px;
    background-color: white;
    border: 2px solid black;
    width: 300px;
}

th  {
    width: 120px;
}

#food    {

    padding-left: 30px;
    padding-top: 70px;
}

#zip    {

    height: 150px;
    width: 300px;

} 

th  {
    font-weight: bold;
    text-align: center;
}

#form-1 {
    padding-left: 30px;
}

#form-2 {
    padding-left: 140px;
}

.form-text  {
    color: lightgoldenrodyellow;
}

#footer  {
    background-color: rgb(187, 149, 103);;
    width: 1600px;
    margin-left: -30px;
    border: 2px solid white;
    text-align: center;
    font-weight: bold;
    padding-top: 8px;
}

#jumbo-1    {


}


