
#main-container  {
      padding: 0px;
      max-width: 100%;
      background-image: url("food-image.jpeg");
      background-position: -300px 180px;
      background-repeat: no-repeat;
      background-size: stretch;
      overflow: hidden;
  }

#jumbotron  {
    height: 182px;
    border: 2px solid white;
    background-color: rgb(187, 149, 103);
    padding-top: 30px;
    margin-right: 0;
    margin-left: 0;
    color: white;
    border-radius: 0px;
}

.jumbotron {
    text-align: center;
}

#map-container {
    height: 300px;
    width: 400px;
    overflow: scroll;
    border: solid black 3px;
    margin-top: 50px;
    margin-left: 70px;

}

#article {
    background-color: lightblue;
    width: 400px;
    height: 300px;
    padding-right: 30px;
    margin-left: 0px;
}


#table {
    
    background-color: white;
    border: 2px solid black;
    width: 400px;
    margin-left: 70px;
}


.input  {
    color: rgb(160, 157, 157);
    width: 300px;
    font-weight: 400;
    font-size: 90%;

}

.button  {
    background-color: green;
    width: 75px;
    height: 35px;
    border-radius: 10px;
}

th  {
    font-weight: bold;
    text-align: center;
    width: 120px;
}



.form-text  {
    color: lightgoldenrodyellow;
    font-size: 110%;
    font-weight: bold;
    margin-left: 100px;
    
}

#footer  {
    background-color: rgb(187, 149, 103);
    border: 2px solid white;
    text-align: center;
    font-weight: bold;
    padding-top: 8px;
    margin-top: 30px;
    color: white;
    position: sticky;
}




